GENERAL STYLES 




a {
  text-decoration: none;
}


/*SECTION 1*/

.s1 {
  background-color: black;
}

.s1_phone_title, .s1_phone_number {
  display: inline-block;
}
.s1_phone {
  background-color: grey;
}

.currency_field {
  width: 30px;
}

.search_field {
  width: 100px;
}